[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Aplikacja na czystych servlet'ach
[access "refs/*"]
	owner = group user/janzavvadka
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/janzavvadka
	label-Verified = -1..+1 group user/janzavvadka
	push = group user/janzavvadka
	read = group user/janzavvadka
	rebase = group user/janzavvadka
	removeReviewer = group user/janzavvadka
	submit = group user/janzavvadka
[access "refs/heads/*"]
	create = group user/janzavvadka
	push = +force group user/janzavvadka
	pushMerge = group user/janzavvadka
	read = group user/janzavvadka
[access "refs/tags/*"]
	push = group user/janzavvadka
	push = +force group user/janzavvadka
